
.top-wrapper {
    padding: 2rem 1rem 0 0;
    margin-bottom: 2rem;
    color: #f3f3f3;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.intro-divider {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 0px;
    margin-right: -15px;
}
.message-wrapper{
    padding-top: 20%;
}

 @media all and (min-width: 992px)
 {
   .btn-top{
       padding-top: 50%;
   }
 }

.btn-blue {
    margin-top: 2em;
    min-width: 12em;
    height: 5em;
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}


.btn-blue:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}

.footer-center{
    margin-top: 5em;
   text-align: center;
}

