<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4">
    <h4>Selecione os campos de interesse para exibição na tabela.</h4>
    <table ng-table="listaCamposTable" class="table table-condensed" show-filter="true">
        <tr ng-repeat="linha in $data">
            <td title="'Campos'" filter="{ field: 'text'}" sortable="'field'" ng-cloak >
                <label class="checkbox">
                    <input type="checkbox" ng-model="linha.show" ng-change="selectedColumns(linha)"/> <p>{{linha.field}}</p>
                </label>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-7 col-md-7 col-sm-4 col-xs-6">  
    <form name="searchForm" novalidate>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
              <input type="text" class="form-control" placeholder="Termos da busca" name="searchTerm" ng-model="searchTerm" required />
            </div>
          </form>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
    <button class="btn btn-primary pull-right" ng-click="searchTerm = ''">Desfazer filtros</button>
</div>
<br/>
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-8" style="overflow: auto">  
    <br/>
        <table ng-table-dynamic="tabelaFiltrada with columnHeaders" class="table table-bordered table-striped" show-filter="true">
        <tr ng-repeat="linha in newData|orderBy:sort.type:sort.reverse|filter:searchTerm">
            <td ng-repeat="col in columnHeaders" title="col.title'" ng-click="orderByColuna(col.title)" ng-cloak >{{linha[col.field]}}</td>
        </tr>
    </table>
</div>
