<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4">
    <h4>Selecione os campos de interesse para exibição na tabela.</h4>
    <table ng-table="listaCamposTable" class="table" show-filter="true">
        <tr ng-repeat="linha in $data">
            <td title="'Campos'" filter="{ field: 'text'}" sortable="'field'" ng-cloak >
                <label class="checkbox">
                    <input type="checkbox" ng-model="linha.show" /> <p>{{linha.field}}</p>
                </label>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-7 col-md-7 col-sm-4 col-xs-6">  
    <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Termos de busca" name="searchTerm" ng-model="globalSearchTerm" required />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-disabled="searchForm.$invalid">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
              </span>
            </div>
          </form>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">  
    <button class="btn btn-primary pull-right" ng-disabled="!tabelaFiltrada.hasFilter()" ng-click="tabelaFiltrada.filter({})">Desfazer filtros</button>
</div>
<br/>
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-8" style="overflow: auto">  
    <br/>
    <table ng-table-dynamic="tabelaFiltrada with camposColunas" class="table table-condensed table-bordered table-striped" show-filter="true">
        <tr ng-repeat="row in $data | BySearchTerm" >
          <td ng-repeat="col in $columns">{{row[col.field]}}</td>
        </tr>
      </table>
</div>
