<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4">
     <div style="margin-bottom: 20px">
        <label class="checkbox" ng-repeat="col in colunas">
          <input type="checkbox" ng-model="col.show" /> {{col.field}}
        </label>
      </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-8">
          <table ng-table-dynamic="filtroColuna with colunas" 
             class="table table-condensed table-bordered table-striped" show-filter="true">
        <tr ng-repeat="row in $data">
          <td ng-repeat="col in $columns">{{row[col.field]}}</td>
        </tr>
      </table>
<!--
<table ng-table="filtroColuna" class="table" ng-table-columns-binding="colunas">
        <tr>
            <th ng-repeat="col in colunas"
                class="text-left sortable header observation-header" ng-class="{
                        'sort-asc': tableParams.isSortBy(col.field, 'asc'),
                        'sort-desc': tableParams.isSortBy(col.field, 'desc')
                      }"
                ng-click="tableParams.sorting(col.field, tableParams.isSortBy(col.field, 'desc') ? 'asc' : 'desc')">
                <div>{{col.title}}</div>
            </th>
        </tr>
        <tbody>
            <tr ng-repeat="dataObj in $data">
                <td ng-repeat="col in colunas" data-title="col.title" sortable="col.field">{{dataObj[col.field]}}</td>
            </tr>
        </tbody>
    </table>
-->
</div>
