<!doctype html>
<html lang="pt-BR" ng-app="pacientesApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Desafio Busca de Pacientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="favicon.png">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/pacientes.css">
        <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
        <script src="js/ui-bootstrap-tpls-2.3.1.min.js"></script>
        <script src="js/xml2json.min.js"></script>
        <script src="js/pacientesApp.js"></script>
        <script type="text/ng-template" id="alert.html"><div ng-transclude></div></script>
    </head>
    <body>
        <div class="top-wrapper">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 ">
                            <h1>Busca de Pacientes</h1>
                        </div>
                    </div>
                </div>
            </div>
             <hr class="intro-divider">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div ng-controller="alertController">
                        <div uib-alert style="border-color: #bcdff1;" ng-class="alertClass" close="closeAlert()" ng-cloak>
                        <h3>Bem-Vind@!</h3>
                        Nesta versão da busca de pacientes, os dados são carregados diretamente pelo arquivo pacientes.xml e os resultados são mostrados por JavaScript com o framework AngularJS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
               <div ng-controller="tabController">
                <div class="panel with-nav-tabs panel-info">
                    <div class="panel-heading">
                       <uib-tabset active="active">
<!--                        <uib-tab ng-repeat="tab in tabs" active="tab.active" >-->
                        <uib-tab ng-repeat="tab in tabs" active="tab.active" select="changeHash(tab.href)" >
                           <uib-tab-heading ng-cloak>
                              <i class="{{tab.icon}}"></i> {{tab.title}}
                            </uib-tab-heading>
                        </uib-tab>
                      </uib-tabset>
                    </div>
                    <div class="panel-body">
                        <div ng-Controller="dataController">
                            <div ng-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 footer footer-center">
                        <p class="copyright text-muted small">Esse projeto é mantido por <a href="https://github.com/midejesus">Michelly Teixeira</a> - 2016</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="js/plugins.js"></script>
    </body>
</html>