<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4">
        Listar por: <select ng-model="listby" class="form-control"><option>id</option><option>nome</option><option>numeroPaciente</option></select>
    <table class="table">
        <thead><th class="text-center">Pacientes</th></thead>
        <tbody>
        <tr ng-repeat="paciente in listaPacientes">
            <td ng-cloak><a ng-href="#paciente/{{paciente.id}}"> {{paciente[listby]}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-8">
    <br/>
    <h3 class="text-center"> Selecione um paciente. </h3>
</div>


