<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4">
    <table ng-table="usersTable" class="table" show-filter="false">
        <tr ng-repeat="paciente in $data">
            <td title="'Pacientes'" ng-cloak>
                <a href="#paciente/{{paciente.id}}"> {{paciente.numero}} </a></td>
        </tr>
    </table>
</div>
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-8">
   <h4>Exibindo paciente nº {{pacienteIndex.numero}}, id = {{pacienteIndex.id}}.</h4>
    <table ng-table="dadosTable" class="table" show-filter="true">
        <tr ng-repeat="linha in $data">
            <td title="'Campos'" filter="{ campo: 'text'}" sortable="'campo'" ng-cloak>
                {{linha.campo}}</td>
            <td title="'Valores'" filter="{ valor: 'text'}" sortable="'valores'" ng-cloak>
                {{linha.valor}}</td>
        </tr>
    </table>
</div>
